.git
.venv
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.mypy_cache
**/.pytest_cache
**/venv
node_modules
**/node_modules
green-cycle-hub/node_modules
**/dist
**/frontend-dist
**/.DS_Store
**/coverage
**/.idea
**/.vscode
